* {
    font-size: 20px;
}

.col-md-9 img{
    max-width: 10%;
}

h2, .h2{
    font-size: 2rem !important;
}

h1, .h1{
    font-size: 3rem !important;
}

h3, .h3{
    font-size: 1.5rem !important;
}

body > div.container > div > div.col-md-9 > p:nth-child(5) > img {
    margin-left: 50%;
}
